@import '../../styles/settings.scss';

.button {
  height: 40px;
  background: none;
  color: $color-button;
  border: 1px solid $color-button;
  border-radius: 10px;
  align-self: center;
  padding: 0 30px;
  transition: 0.3s;
}

.button:hover {
  color: $color-light;
  background: $color-button;
  cursor: pointer;
}
